*{
    margin: 0;
    padding: 0;
}

ul, li{ list-style: none;}

a{text-decoration: none;}

a:visited{
    color: #000000;
}

a:link{
    color: #000000;
}

body{
    font-family: "Gotham SSm A", "Gotham SSm B", Montserrat, sans-serif;
    color: #000000;
    font-stretch:ultra-expanded;
    font-weight: 500;
}

.w1140{
    width: 1140px;
    margin: auto;
}

/* http://junil-hwang.com/blog/ */

/*              빨간 상자           */
.darkredbox{
    position: relative;
    background: rgb(200,16,46);
    border: 0px;
    padding-top:20px;
    padding-bottom: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 34px;
    font-stretch: ultra-expanded;
    font-size: 18px;
    letter-spacing: 1px;
    z-index: 1;
}

.darkredbox > a{
    color: #ffffff;
}


.darkredbox > svg{
    width: 24px;
    height: 24px;
    margin-right: 16px;
}

.darkredbox > svg > path{
    fill: #ffffff;
}

.darkredbox:hover > .gradline{
    position:absolute;
    height: 15%;
    background: rgb(255,255,255, .5);
    display: block;
    width: 100%;
    bottom: 0px;
    transition: all 0.35s;
}

.darkredbox > .gradline{
    position:absolute;
    height: 15%;
    background: transparent;
    width: 0%;
    left:0;
}



.none {
    display: none;
}

.grayback{
    background: #f6f6f6;
}

.f220{
    font-size: 220px;
}

.txtbtwlines{    
    padding: 34px 0;
    line-height: 22px;
}

.h495w24{
    width: 24px;
    height: 49.5px;
    box-sizing: border-box;
}
/**/

#wrap{
    width: 100%;
}

#header{
    height: 150px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 10px 30px 10px;
    box-sizing: border-box;
}

#header > #logo> a > img{
    display: block;
    width: 70px;
    height: 100px;
}

#header > #mainheader{
    position:relative;
    display: flex;
    flex-direction: column;
    letter-spacing: 1px;
    font-stretch: 150%;
}

#mainheader > span:first-child{
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
    top: 20%;

}

#navi1{
    position: relative;
    display: flex;
    justify-content: space-between;
    height:74px;
    width: 170px;
    font-size: 14px;
}

#navi1 >li > a{
    position: relative;
}

#navi1 >li > a >svg{
    stroke: #000000;
}

#navi1 >li.hover > a >svg{
    stroke: #C8102E;
}

#navi1 >li> a >#sign{
    position: relative;
    top: -10%;
}


#navi1 >li.hover > a >#sign{
    color: #C8102E;
}



#navi1 >li.hover > a> span.redline{
    position: absolute;
    top: 160%;
    left: 0; 
    background: #C8102E;
    height: 1px;
    width: 100%;
    transition: all 0.35s;
}

#navi1 >li > a> span.redline{
    position: absolute;
    top: 150%;
    left: 0; 
    background: #C8102E;
    height: 1px;
    width: 0%;
}



/*                              모션 들어가는 gnb       */

#header > #mainheader > #gnb{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 1000px;
    height: 61.5px;
    font-size: 14px;
    align-items: center;
    box-sizing: border-box;
    top: 10%;
}

#gnb > #li{
    position: absolute;
    padding: 20px 0;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

#gnb > li > a{
    position: relative;
}

#gnb > li > a> svg{
    width: 7px;
}


#gnb> li.on > a> .redline{
    position: absolute;
    top: 30px;
    left: 0;
    background: #C8102E;
    height: 10px;
    width: 100%;
}

#gnb> li.on> a.redfont{
    color: #C8102E;
}


#gnb > li.on > .snb{
    position: absolute;
    display: block;
    width: 115%;
    height: 144px;
    background: #ffffff;
    z-index: 10;
    left: -135px;
    border-top: 1px solid #F0F0F0;
    margin-top: 20px;
}



#gnb> li> .snb{
    width: 100%;
    position: absolute;
    display: none;
}



#gnb>li> .snb >ul{
    position: absolute;
    width: 1050px;
    left: 135px;

}






.snbclass{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 1150px;
    box-sizing: border-box;
    padding-top: 20px;
}

.snbli{
    width: 232.5px;
    height: 56px;
    padding: 20px 20px;
    box-sizing: border-box;
}

#gnb>li>div>ul >li:nth-child(1){
    padding: 20px 20px 0 0;
}

#gnb>li>div>ul >li:nth-child(5){
    padding: 20px 20px 0 0;
}




/*                                                          피가로의 결혼           */
#figaro{
    display: flex;
    flex-direction: column;
}

#figaro_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -10px;
}


.f100{
    font-family: sans-serif;
    font-size: 100px;
    font-weight: 550;
    font-stretch: ultra-expanded;
    letter-spacing: 3px;
}


.white{
    color: #ffffff;
}


#clock{
    background: url(./image/rolex80.png) no-repeat;
    background-position: center;
    width: 90px;
    height: 90px;
}





/*              콘테이너            */


#container{
    height: 4196px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


#container > .mtop20{
    margin-top: 0px;
}


#figaro > #figaro_img {
    position: relative;
    z-index: 1;
}

#figaro > #figaro_img > img{
    display: block;
    z-index: 1;
}

#figaro > #figaro_img > span{
    position: absolute;
    z-index: 10;
}

#figaro > #figaro_img > span:nth-child(2){
    position: absolute;
    left: -0.3%;
    top: -3%;
    color: #ffffff;
}

#figaro > #figaro_img > span:nth-child(3){
    bottom: 0px;
    right: 0px;
    width: 350px;
}


/*                      마스크 써라                     */
#facecovering{
    padding: 40px 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#facecovering > span:nth-child(1){
    width: 50px;
}

#facecovering > span:nth-child(2){
    width: 770px;
    letter-spacing: 1px;
    font-stretch: ultra-expanded;
}

/*                      라인 조정 해야 함               */

#facecovering > span:nth-child(3){
    width: 250px;
    margin-left: 20px;
    margin-top:0px !important;
}


/*                          하이라이트                      */
/* highlights > mainhighlight > h1, span*/
/* span >input, highlightbox   */





/* 하이라이트 슬라이드  */
/*
.section input[id*="slide"]{
    display: none;
}
*/




#slideControl > span{
    position: absolute;
    background: rgba(0,0,0,0.8);
    height: 55px;
    width: 70px;
    top: 25%;
    cursor: pointer;
    z-index: 10;
    right: 22%;
}

#slideControl  > span.right {
    right: 13.5%;
}

#slideControl  > span > svg{ 
    padding: 25%;
}

#slideControl  > span.left > svg{ 
    transform: rotate(180deg);
}

#slideControl  > span > svg > path{ 
    fill: #ffffff;
}



#highlightswrap{
    position: relative;
    height: 697.48px;
    width:915px;
}

#highlightswrap >h2{
    position: relative;
    left: 100px;
    font-size: 30px;
    font-weight: 500;
    height: 80px;
    line-height: 80px;
}


#highlightswrap > #mainhightlights{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 595px;
    width: 867px;
}

div.slidewrap{
    width: 1140px;
    height: 595px;
    overflow: hidden;
}


#slidelist{
    position: relative;
    top: 0;
    display: flex;
    width: 100%;
    white-space: nowrap;
}

#slidelist > li{
    z-index: 10;
    padding-left: 48px;

}

#slidelist > li > a img{
    display: block;
    width: 867px;
    height: 595px;
}



/*수정*/
.section .slidewrap #highlightbox {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    bottom: 20%;
    z-index: 3;
    padding: 48px 48px 48px 0;
    background: #ffffff;
    width: 420px;
    height: 391px;
    box-sizing: border-box;
    flex-wrap: wrap;
}
/*여기까지*/


#highlightbox > li:nth-child(1){
    font-size: 40px;
    line-height: 100%;
    font-weight: 300;
    letter-spacing: 1px;
}


#highlightbox > li:nth-child(2) {
    display: block;
    background: #C8102E;
    height: 1px;
    width: 5%;
    margin: 10px 0;

}

#highlightbox:hover > li:nth-child(2) {
    display: block;
    background: #C8102E;
    height: 1px;
    width: 100%;
    transition: all 0.35s;
}

#highlightbox > li:nth-child(3) {
    color: #5d5d5d;
    font-size: 20px;
    font-weight: 400;
}

#highlightbox > li:nth-child(4) {
    font-weight: 500;
    color:#333;
    font-weight: 600;    
}

#highlightbox > li{
    margin-top:3px;
    width: 330px;
    margin-top: 10px;
    white-space: pre-wrap;
    line-height: 145%;
}




#highlightswrap #grayback2{
    position: absolute;
    height: 697.48px;
    width: 19%;
    right:-24.5%;
    top: 0;
    z-index: 1;
}


/*              joinnow         */
/*join > img, div > span    */



#join{
    position: relative;
    display: flex;
    flex-direction: column;  
}

#join> h2{
    position: absolute;
    color:#ffffff;
    right: 0px;
    padding-left: 100px;
}

#join > div{
    position: absolute;
    left: 103px;
    bottom: 180px;
    width: 360px;
}


#join > div > #text::before{
    content: "";
    display: inline-block;
    height: 2px;
    width: 45%;
    background: #ffffff;
}


#join > div > #text::after{
    content: "";
    display: inline-block;
    height: 2px;
    width: 100%;
    background: #ffffff;
}






/*                  commit      */

#commit{
    position: relative;
    display: flex;
    flex-direction: column;  
}

#commit > div{
    position: absolute;
    left: 103px;
    bottom: 30px;
    width: 360px;
}


#commit> div > #text::before{
    content: "";
    display: inline-block;
    height: 2px;
    width: 45%;
    background: #ffffff;
}



#commit > div > #text::after{
    content: "";
    display: inline-block;
    height: 2px;
    width: 100%;
    background: #ffffff;
}



/*                      shop            */

#shop{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 798px;
    justify-content: space-between;
}

#shop > div:nth-child(1){
    position:relative;
    z-index: 1;
    width: 100%;
    height: 455px;
}


#shop > div:nth-child(1) > img{
    display: block;
    width: 100%;
}

#shop > div:nth-child(1) > h2{
    position: absolute;
    left: 15%;
    top: 70%;
    z-index: 2;
}

#shop > div:nth-child(2){
    position: absolute;
    top: 78%;
    width: 360px;
    height:263px;
    right: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;
}


#shop > div:nth-child(2) > #text::before{
    content: "";
    display: inline-block;
    height: 2px;
    width: 45%;
    background: #000000;
}

#shop > div:nth-child(2) > #text > p{
    width: 80%;
}

    #shop > div:nth-child(2) > #text::after{
    content: "";
    display: inline-block;
    height: 2px;
    width: 100%;
    background: #000000;
}


/*              footer          */
#footer{
    position: relative;
    display: flex;
    flex-direction: column;
    top: 59px;
    padding: 0 85px;
    background: rgba(200, 16, 46, 0.1);
}

#sn{
    position: relative;
    width: 406px;
    height: 150px;
    border-bottom: 3px solid rgb(200, 16, 46);
}

#sn > ul{
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    align-items: center;
}

#sn  svg{ 
    fill: rgb(200, 16, 46);
    width: 30px;
    height: 30px;
}


#contact{
    position:relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 894px;
    padding: 150px 0px;
    margin: 0;
}

#contact > span a img{
    position: relative;
    width: 226px;
    height: 61px;
    margin-right: 50px;
}

#contact > ul {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    color: rgb(200, 16, 46);

}

#contact > ul li {
    line-height: 150%;
    font-stretch: ultra-expanded;
}

#contact > ul li a {
    text-decoration: underline rgb(200, 16, 46);
    color: rgb(200, 16, 46);
    font-weight: 600;
}

#foot{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 237.95px;
    border-top: 3px solid rgb(200, 16, 46);
    padding: 12px 0;
    color: rgb(200, 16, 46);
}

#foot > ul{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 115px;
    
}
#foot > ul a{
    color: rgb(200, 16, 46);
    text-decoration: underline rgb(200, 16, 46);
}

#foot > span{
    width: 600px;
}